[Unit]
Description=Apache Kafka-Connect server
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart=/usr/local/kafka-332/bin/connect-distributed.sh /usr/local/kafka-332/config/connect-distributed.properties

[Install]
WantedBy=multi-user.target