[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart=/usr/local/kafka-332/bin/kafka-server-start.sh /usr/local/kafka-332/config/server.properties
ExecStop=/usr/local/kafka-332/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target